.footer {
    background-color: rgba(128, 128, 128, 0.079);
    border-top: 1px solid rgba(0, 0, 0, 0.176);
}

.footer__wrapper{
    max-width: 80%;
    margin: auto;
}

.footer__links {
    padding: 40px 0 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.176);
}

.footer__element h3 {
    font-size: 1rem;
    margin-bottom: 25px;
}

.footer__element ul {
    padding: 0;
    margin: 0;
}

.footer__element a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}


.footer__element li {
    list-style: none;
    margin: 10px 0;
}

/* COPYRIGHT */
/* .copyright {
    height: 30px;
} */

.copyright li {
    list-style: none;
    margin-right: 15px;
}

.copyright a {
    color: black;
}

.footer__social a {
    font-size: 1.3rem;
    line-height: 30px;
    margin-bottom: 10px;
}

.footer__social ul {
    margin-top: -7px;
}

.footer__setting 

.footer__setting span a{
    margin-right: 20px;
    text-decoration: underline;
}

.word__icon {
    font-size: 1.5rem;
}

.footer__setting svg {
    margin-top: -0.3rem;
}


/* For extremely small screen devices (595px and below)  */
@media only screen and (max-width: 595px) {
    .suggested__nearbyLocation > h2,  .location__details > h2{
        font-size: 1.3rem;
    }
    .suggested__nearbyLocation > h2,  .location__details > h2{
        font-size: 1.5rem;
    }

    .footer__element {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid lightgray;
    }

    .footer__links {
        padding: 40px 0 0 0;
        border-bottom: none;
    }
    .copyright {
        padding-top: 0px;
        flex-direction: column-reverse;
    }

    .copyright__right {
        flex-direction: column;
    }
    .footer__setting {
        width: 180px;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
    .footer__setting a  {
        font-size: 0.8rem;
    }

    .footer__setting svg {
        font-size: 1rem;
    }

    .footer__social {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .world__icon {
        font-size: 1rem;
    }



    .legal {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 10px;
    }
    
    .legal a, .legal li {
        font-size: 0.8rem;
    }

    .footer__element a {
        font-size: 0.9rem;
    }

 }
  
 /* Medium screen devices (768px and above) */
 @media only screen and (max-width:888px) and (min-width: 768px) {
    .footer__element {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid lightgray;
    }

    .footer__links {
        padding: 40px 0 0 0;
        border-bottom: none;
    }
    .copyright {
        padding-top: 0px;
        flex-direction: column-reverse;
    }

    .copyright__right {
        flex-direction: column;
    }
    .footer__setting {
        width: 230px;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
    .footer__social {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .legal {
        justify-content: center;
 }
 }
  
 /* Small screen devices (600px and above) */
 @media only screen and (max-width:767px) and (min-width: 600px) {
    .suggested__nearbyLocation > h2,  .location__details > h2{
        font-size: 1.5rem;
    }

    .footer__element {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid lightgray;
    }

    .footer__links {
        padding: 40px 0 0 0;
        border-bottom: none;
    }
    .copyright {
        padding-top: 0px;
        flex-direction: column-reverse;
    }

    .copyright__right {
        flex-direction: column;
    }
    .footer__setting {
        width: 180px;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
    .footer__setting a  {
        font-size: 0.8rem;
    }

    .footer__setting svg {
        font-size: 1rem;
    }

    .footer__social {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .world__icon {
        font-size: 1rem;
    }



    .legal {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 10px;
    }
    
    .legal a, .legal li {
        font-size: 0.8rem;
    }


 }
  
 /* Medium screen devices (768px and above) */
 @media only screen and (max-width:888px) and (min-width: 768px) {
    .footer__element {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid lightgray;
    }

    .footer__links {
        padding: 40px 0 0 0;
        border-bottom: none;
    }
    .copyright {
        padding-top: 0px;
        flex-direction: column-reverse;
    }

    .copyright__right {
        flex-direction: column;
    }
    .footer__setting {
        width: 230px;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
    .footer__social {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .legal {
        justify-content: center;
 }
 }
  
 /* Big screen devices (889px and above) */
 @media only screen and (max-width:1199px) and (min-width: 889px) {
    .intro__block--wrapper, .community__block--wrapper, .welcome__block--wrapper, .support__block--wrapper  {
        /* display: flex;
        justify-content: space-between; */
        display: grid;    
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
    .footer__element h3 {
        margin-bottom: 5px;
    }

    .footer__links {
        border-bottom: none;
        padding: 40px 0 0 0;
    }

    .footer__element {
        padding-bottom: 20px;
        margin-bottom: 40px;
        border-bottom: 1px solid lightgray;
    }

    .copyright {
        padding-top: 0px;
        flex-direction: column-reverse;
    }

    .copyright__right {
        flex-direction: column;
    }
    .footer__setting {
        width: 230px;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
    .footer__social {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .legal {
        justify-content: center;
    }
 }
  
 /* Extra big screen devices (1200px and above) */
 @media only screen and (min-width: 1200px) {
    .copyright {
        justify-content: space-between;
    }
 }