$color_1: white;
$color_2: rgba(0, 0, 0, 0.746);
$color_3: #ff385c;
$color_4: black;
$background-color_1: black;
$background-color_2: rgba(0, 0, 0, 0.75);
$background-color_3: white;
$background-color_4: rgba(211, 211, 211, 0.395);

/* HEADER */
/* USERSIGNIN/UP */
/* RESPONSIVE */
/* Small screen devices (600px and above) */
/* Medium screen devices (768px and above) */
/* Big screen devices (889px and above) */
/* Extra big screen devices (1200px and above) */
.header {
	padding-top: 20px;
	background-color: $background-color_1;
	padding-bottom: 30px;
}
.header__wrapper {
	position: ticky;
	top: 0;
	background-color: $background-color_2;
	z-index: 100;
	width: 90%;
	margin: auto;
}
.logo {
	object-fit: contain;
	height: 50px;
}
.nav__middle {
	max-width: fit-content;
	height: 30px;
	line-height: 30px;
	>ul {
		>a {
			color: $color_1;
			text-decoration: none;
			padding: 0px 10px;
		}
	}
}
.nav__right {
	width: fit-content;
	>div {
		padding: 0px 10px;
	}
}
.header__icon {
	font-size: 50px;
}
.header__setting {
	background-color: $background-color_3;
	padding: 5px 10px;
	border: 1px solid #dddddd;
	border-radius: 21px;
	cursor: pointer;
}
.header__setting--outer {
	position: relative;
}
.user__info {
	width: 280px;
	position: absolute;
	margin-top: 20px;
	z-index: 100;
	right: 0px;
	background-color: $background-color_3;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.user__info--top {
	border-bottom: 1px solid lightgray;
}
.user__signinup {
	div {
		padding: 0.5rem 0;
	}
	button {
		background: transparent;
		border: none;
		outline: none;
		color: $color_2;
		&:hover {
			color: $color_3;
		}
	}
}
.user__info--wrapper {
	padding: 0.4rem 1rem;
}
.user__services {
	ul {
		list-style: none;
		margin: 0;
	}
	li {
		padding: 0.5rem 0;
	}
	a {
		text-decoration: none;
		color: $color_2;
		&:hover {
			color: $color_3;
		}
	}
}
.user__features {
	a {
		text-decoration: none;
		color: $color_4;
		font-weight: 500;
	}
	>.feature__item {
		padding: 0.5rem 0;
	}
	.feature__item {
		&:hover {
			background-color: $background-color_4;
			cursor: pointer;
			a {
				color: $color_3;
			}
		}
	}
	.feature__item--inner {
		padding: 0.1rem 1rem;
	}
}
.user__info--addedBottom {
	border-top: 1px solid lightgray;
}
@media only screen and (max-width:767px) and (min-width: 600px) {
	.nav__right {
		display: none;
	}
	.nav__middle {
		display: none;
	}
}
@media only screen and (max-width:888px) and (min-width: 768px) {
	.nav__middle {
		display: none;
	}
	.nav__right {
		width: 35vw;
	}
}
@media only screen and (max-width:1199px) and (min-width: 889px) {
	.nav__right {
		width: 270px;
		padding: 0px 5px;
	}
}
@media only screen and (min-width: 1200px) {
	.nav__right {
		width: 300px;
		padding: 0px 15px;
	}
}
