.header {
    padding-top: 20px;
    background-color: white;
    padding-bottom: 30px;
    box-shadow:10px 1px 5px rgba(0, 0, 0, 0.176);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__wrapper {
    position: ticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.logo {
    object-fit: contain;
    height: 50px;
}

.nav__middle {
    max-width: fit-content;
    height: 60px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.nav__middle > ul > a {
    color: white;
    text-decoration: none;
    padding: 0px 10px;
}

.nav__right {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__icon {
    font-size: 50px;
}

.header__setting {
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #dddddd;
    border-radius: 21px;
    cursor: pointer;
}

.searchbar__room__wrapper {
    max-width: fit-content;
    background: white;
    box-shadow: 0 0 5px hsl(0 0% 78%);
    height: 58px;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    align-items: center;
}

.searchbar__room__wrapper div {
    border-radius: inherit;
    padding: 0.2rem 0.5rem;
    transition: background 250ms ease;
    line-height: 58px;
}

.searchbar__room__wrapper p {
    margin-bottom: 0;
}

.searchbar__room__wrapper div:hover{
    background: hsl(0 0% 94%)
}

.room__guest {
    position: relative;
    display: flex;
    line-height: 58px;
}

.room__guest button{
    position: absolute;
    background:#FF385C;
    font-size:0.8rem;
    padding:0.9rem;
    border-radius:50%;
    border-style:hidden;
    font-size: 1rem;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    font-size: 1rem;
    color: white;
    line-height: 0px;

  }

.searchbar__room__wrapper>div{
    position: relative; 
}

.searchbar__room__wrapper>div::before{
    position: absolute;
    content: "";
    width:1px;
    height:50%;
    background:hsl(0 0% 90%);
    left:0;
    top: 50%;
    transform: translateY(-50%)
  }

.searchbar__room__wrapper>div:nth-of-type(1)::before{
    background:transparent;
}

.searchbar__room__wrapper>div:nth-of-type(1){
    margin-left: 0rem;
}

.searchbar__room__wrapper>div:hover::before{
background:transparent;
}

.location__desc {
    line-height: 80px;
}

/* RESPONSIVE */
@media only screen and (max-width:400px) {
    .nav__right, .nav__left{
        display: none;
    }

    .header__wrapper {
        justify-content: center;
    }

    .searchbar__room__wrapper div {
        padding: 0.2rem 1.2rem;
        line-height: 20px;
    }

    .searchbar__room__wrapper>div:nth-of-type(1)>p {
        overflow: hidden;
    }

    .searchbar__room__wrapper {
        height: 45px;
    }

    input {
        width: 100%;
        font-size: 0.8rem!important;
    }


    .room__guest input {
        text-align: left!important;
        margin-left: 0px;
    }

    .room__guest {
        padding-right: 0rem!important;
    }

    .searchbar__room__wrapper div:nth-of-type(1) {
        width:130px;
    }

    .searchbar__room__wrapper div:nth-of-type(2) {
        width: 120px;
    }

    .searchbar__room__wrapper div:nth-of-type(3) {
        width: 25px;
    }

    .searchbar__room__wrapper div{
        line-height: 44px;
    }

    .header > div:nth-of-type(2) {
        margin-right: 0px!important;
        font-size: 0.9rem;
        width: 95vw!important;
    }

    .room__guest button {
        padding: 0.5rem;
    }

    .room__guest div {
        padding: 0rem;
    }

    .location__text {
        overflow: hidden!important; 
        white-space: nowrap!important;
    }

    .introLocation__image {
        height: 60px;
        width: 60px;
    }

    .locationInput__item--wrapper {
        height: 50px;
    }

    .location__desc {
        line-height: 60px;
    }

    .numGuest__text {
        display: none!important;
    }
    .locationList__wrapper {
        margin-top: 0px!important;
    }

}

@media only screen and (max-width:524px) and (min-width: 401px) {
    .nav__right, .nav__left{
        display: none;
    }

    .header__wrapper {
        justify-content: center;
    }

    .searchbar__room__wrapper div {
        padding: 0.2rem 1.2rem;
        line-height: 20px;
    }

    .searchbar__room__wrapper>div:nth-of-type(1)>p {
        overflow: hidden;
    }

    .searchbar__room__wrapper {
        height: 45px;
    }

    input {
        width: 100%;
        font-size: 0.8rem!important;
    }


    .room__guest input {
        text-align: left!important;
        margin-left: 0px;
    }

    .room__guest {
        padding-right: 0rem!important;
    }

    .searchbar__room__wrapper div:nth-of-type(1) {
        width:130px;
    }

    .searchbar__room__wrapper div:nth-of-type(2) {
        width: 120px;
    }

    .searchbar__room__wrapper div:nth-of-type(3) {
        width: 140px;
    }

    .searchbar__room__wrapper div{
        line-height: 44px;
    }

    .header > div:nth-of-type(2) {
        margin-right: 0px!important;
        font-size: 0.9rem;
        width: 355px!important;
    }

    .room__guest button {
        padding: 0.5rem;
    }

    .room__guest div {
        padding: 0rem;
    }

    .location__text {
        overflow: hidden!important; 
        white-space: nowrap!important;
    }
}


/* For extremely small screen devices (595px and below)  */
@media only screen and (max-width: 594px) and (min-width: 525px) {
    .nav__right, .nav__left{
        display: none;
    }

    .header__wrapper {
        justify-content: center;
    }

    .searchbar__room__wrapper {
        padding: 0.2rem 0rem;
    }

    .searchbar__room__wrapper div {
        padding: 0.2rem 1.5rem;
    }

    .searchbar__room__wrapper div:nth-of-type(3) {
        padding: 0.2rem 0.5rem!important;
    }


    .searchbar__room__wrapper>div:nth-of-type(1)>p {
        overflow: hidden;
    }

    .searchbar__room__wrapper>div:nth-of-type(1) {
        overflow: hidden;
    }

    input {
        width: 100%;
        font-size: 0.9rem!important;
    }


    .room__guest input {
        text-align: left!important;
        margin-left: 10px;
    }

    .searchbar__room__wrapper div:nth-of-type(1) {
        width:150px;
    }

    .searchbar__room__wrapper div:nth-of-type(2) {
        width: 150px;
    }

    .searchbar__room__wrapper div:nth-of-type(3) {
        width: 170px;
    }
    .header > div:nth-of-type(2) {
        margin-right: 0px!important;
        font-size: 0.9rem;
        width: 430px;
    }


 }
  
 /* Small screen devices (600px and above) */
 @media only screen and (max-width:767px) and (min-width: 595px) {
    .nav__right, .nav__left{
        display: none;
    }

    .header__wrapper {
        justify-content: center;
    }

    input {
        width: 100%;
    }

    .room__guest input {
        text-align: left!important;
        margin-left: 10px;
    }

    .searchbar__room__wrapper div:nth-of-type(1) {
        width:200px;
    }

    .searchbar__room__wrapper div:nth-of-type(2) {
        width: 130px;
    }

    .searchbar__room__wrapper div:nth-of-type(3) {
        width: 200px;
    }

    .header > div:nth-of-type(2) {
        margin-right: 0px!important;
    }

 }
  
 /* Medium screen devices (768px and above) */
 @media only screen and (max-width:888px) and (min-width: 768px) {
    .nav__right{
        display: none;
    }

    .header__wrapper {
        justify-content: flex-start;
        width: 90%;
        margin: auto;
        gap: 5vw;
    }

    .nav__left .logo {
        height: 30px;
        object-fit: contain;
    }

    input {
        width: 100%;
    }

    .room__guest input {
        text-align: left!important;
        margin-left: 10px;
    }

    .searchbar__room__wrapper div:nth-of-type(1) {
        width:200px;
    }

    .searchbar__room__wrapper div:nth-of-type(2) {
        width: 130px;
    }

    .searchbar__room__wrapper div:nth-of-type(3) {
        width: 200px;
    }
 }
  
 /* Big screen devices (889px and above) */
 @media only screen and (max-width:1041px) and (min-width: 889px) {
    
    .header > div:nth-of-type(2){
        margin-right:50%;
    }

    .rdrDateRangePickerWrapper {
        border-top: none;
    }

    .nav__right{
        display: none;
    }

    .header__wrapper {
        justify-content: flex-start;
        width: 90%;
        margin: auto;
        gap: 10vw;
    }

    .nav__left .logo {
        height: 40px;
        object-fit: contain;
    }



 }
  
 /* Extra big screen devices (1200px and above) */
 @media only screen and (min-width: 1042px) {
    input {
        width: 100%;
    }

    .room__guest input {
        text-align: left!important;
        margin-left: 10px;
    }

    .searchbar__room__wrapper div:nth-of-type(1) {
        width:250px;
    }

    .searchbar__room__wrapper div:nth-of-type(2) {
        width: 130px;
    }

    .searchbar__room__wrapper div:nth-of-type(3) {
        width: 200px;
    }


 }